.galeria-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 30px $color-sombra;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;

    .pelicula {
    background-color: #111;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 0 10px #ff0000cc;
    transition: transform 0.3s ease-in-out;
    text-align: center;

    &:hover {
        transform: scale(1.05);
    }

    img {
        width: 100%;
        aspect-ratio: 2 / 3;
        object-fit: cover;
        border: 2px solid #ff0000;
        border-radius: 8px;
    }

    .info {
        color: #fff;
        margin-top: 10px;

    h3 {
        font-size: 1rem;
        margin: 0;
    }

    p {
        font-size: 0.85rem;
        color: #ccc;
        margin: 0.2rem 0 0;
    }
    }
}
}
    .galeria-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 30px $color-sombra;
    }


